table, app-movie-detail {
  background-color: #f6f6f6;
  box-shadow: 5px 10px #888888;
  padding: 16px;
  margin: 16px;
}

table {
  margin: 20px;
  text-align: left;
}

.selected {
  background-color: lightgray;
}
