<table>
  <thead>
    <tr>
      <th>Zeile</th>
      <th>Titel</th>
      <th>Regisseur</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies$ | async; let i = index"
        [class.selected]="isMovieSelected(movie)"
        [attr.aria-details]="isMovieSelected(movie) ? 'movie-details' : null">
      <td>{{i+1}}</td>
      <td>{{movie.title}}</td>
      <td>{{movie.directors}}</td>
      <td><a [routerLink]="['/movies', movie.id]">Details anzeigen</a></td>
    </tr>
  </tbody>
</table>

<a routerLink="/movies/new">Anlegen</a>

<app-movie-detail *ngIf="selectedMovie"
                  [headerLevel]="2"
                  [movie]="selectedMovie"
                  (movieUpdate)="onMovieUpdated($event)"
                  id="movie-details">
</app-movie-detail>
